@import "../../../scss/";

.crm-categories-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  color: $header-text-color;
  font-weight: bold;
  border: 2px solid $border-color;
  cursor: pointer;
  transition: 0.3s all;
  &-wrapper-content {
    display: flex;
    align-items: center;
  }
  &:hover {
    opacity: 0.7;
    background-color: #93b3dd;
  } 
  &__label {
    display: block;
  }
}

.bullet {
  display: block;
  margin-right: 14px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  &-my {
    background-color: #993B43;
  }
  &-acquired {
    background-color: #446F9B;
  }
  &-saved {
    background-color: #665571;
  }
}