.password-requirements {
  display: flex;
  justify-content: space-around;
  padding: 0;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  &__column {
    padding: 0;
  }
    &-item {
      padding: 0; 
    }
}

