@keyframes ldio-bisfv2r09l {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-bisfv2r09l div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #1bb327;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-bisfv2r09l div {
  animation: ldio-bisfv2r09l 1.2987012987012987s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-knhph0ey5j {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-bisfv2r09l {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-bisfv2r09l div { box-sizing: content-box; }
