// colors
$btn-bg-color: #f6f5fa;
$btn-bg-color-hover: #adadaf;
$header-bg-color: #222222;
$input-color: #cccccc;
$btn-color: #777777;
$crm-header-color: #ECEEF3;
$border-color: #9E9FA2;
$header-text-color: #4F5050;

// size
$registration-form-width: 400px;
$create-form-form-width: 500px;
$header-height: 45px;

// z-indexes
$project-dropdown-actions-index: 2;
$popup-layer-index: 3;
$popup-wrapper-index: 4;
$popup-close-index: 4;

